/* 
    Created on : Jul 15, 2017, 7:30:37 AM
    Author     : FJ Caballero
*/
body {
  background-image: url(../img/turbine_ge.png);
  background-size: cover;
  background-color: #000 !Important;
  background-repeat: no-repeat; }

.centered {
  margin-top: 10%; }

#variable {
  background-color: rgba(2, 65, 70, 0.1); }

/*# sourceMappingURL=estiloLogin.css.map */
