/* 
    Created on : Jul 14, 2017, 11:29:22 PM
    Author     : FJ Caballero
*/
main {
  margin-top: 100px; }

label {
  text-transform: capitalize; }

#btoDel {
  float: right;
  cursor: pointer; }

.glyphicon {
  cursor: pointer; }

.panel {
  margin-bottom: 12px !Important; }

#inputContent .panel {
  border: none !Important; }

table {
  text-align: center !Important; }
  table thead tr th {
    text-align: center !Important; }
  table tbody tr th {
    text-align: center !Important; }

#boxLog {
  position: fixed;
  z-index: 9999;
  top: 90px;
  left: 10px;
  border: none !Important;
  background-color: #999999;
  overflow: hidden;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75); }

#btoDelLog {
  float: right;
  cursor: pointer; }

#imgTop {
  height: 30px;
  /*width: 25px;*/
  display: inline-block; }

/*# sourceMappingURL=estiloContenido.css.map */
