/* 
    Created on : Jul 14, 2017, 11:29:22 PM
    Author     : FJ Caballero
*/
/*white style body: #f5f8fa*/
/*****Panel blue input*/
/******tabla *******/
/****************/
body {
  background-color: #252830; }

h1, h2, h3, h4, h5, h6 {
  color: #FFF; }

label {
  color: #FFF; }

#formVar input {
  background-color: #464545 !important;
  color: #FFF !important; }

.panel-default .panel-heading {
  background-color: #464545 !important; }
.panel-default .panel-body {
  background-color: #303030; }

.panel-primary .panel-heading {
  background-color: #375a7f !important; }
.panel-primary .panel-body {
  background-color: #303030; }

table tbody tr:nth-child(even) {
  color: #FFF;
  background-color: #375a7f; }

table tbody tr:nth-child(odd) {
  background-color: #393838 !important; }

table thead th, table tbody tr {
  color: #FFF; }

table tbody tr td {
  color: #999999; }

span.btn:hover {
  color: #FFF !important; }

/*# sourceMappingURL=estilo.css.map */
