/* 
    Created on : Jul 14, 2017, 11:29:22 PM
    Author     : FJ Caballero
*/
/*white style body: #f5f8fa*/
$textColor: #FFF;
$secondTextColor: #999999;
$bodyColor: #252830;
$inputColor: #464545;
$panelHeading: #464545;
$panelBody: #303030;
/*****Panel blue input*/
$panelBlue: #375a7f ;
$panelBorderBlue: #375a7f ;
/******tabla *******/
$rowColor: #393838;
$backGroundColorTable: #375a7f;
/****************/
$hoverBtn: #999999;


body {
    background-color: $bodyColor;
}

h1, h2, h3, h4 ,h5, h6 {
    color: $textColor;
}

label {
    color: $textColor;
}

#formVar input {
    background-color: $inputColor !Important;
    color: $textColor !Important;
}

.panel-default {
    .panel-heading {
        background-color: $panelHeading !Important;
    }
    .panel-body {
        background-color: $panelBody;
    }
}

.panel-primary {
    .panel-heading {
        background-color: $panelBlue !Important;
    }
    .panel-body {
        background-color: $panelBody;
    }
}

table tbody tr:nth-child(even) {
    color: $textColor;
    background-color: $backGroundColorTable;

}
table tbody tr:nth-child(odd) {
    background-color: $rowColor !Important;
}

table thead th, table tbody tr {
    color: $textColor;
}

table tbody tr td{
    color: $secondTextColor;
}

span.btn:hover {
    color: $textColor !Important;
    
}









