/* 
    Created on : 26/01/2016, 03:13:10 PM
    Author     : FJ Caballero
*/
/***ocultar los botones de acciones***/
@media print {
    * {
        overflow: hidden !Important;
    }
    
    header {
        display: none !Important;
    }

    .panel-default, .panel, .panel-heading, .panel-body  {
        border: none !Important;
    }

    main {
        width: 21.5cm; }

    body {
        position: relative; }

    /*
    .positionBot {
      position: absolute;
      bottom: 0px; }
  
    .campoEdi input {
      border: none !Important;
      padding: 0px !Important;
      box-shadow: none !Important;
      font-size: 11px !Important; }
  
    .reverse {
      display: none !Important;
      border: none !Important; } 
    */

}
